
body {
  font-family: 'Lora', serif;
  font-weight: lighter;
}

p {
  font-family: 'Lora', serif;
}


h1, h2 {
  font-family: 'Montserrat', sans-serif;
}

.banner {
  background-image:
  linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(10, 10, 10, 0.73)),
  url("https://images.pexels.com/photos/1230665/pexels-photo-1230665.jpeg?cs=srgb&dl=pexels-artem-beliaikin-1230665.jpg&fm=jpg");
  background-size: cover;
  color: white;
  padding: 120px;
}

.banner > p {
  font-size: 20px;

}

.container {
  padding: 25px 120px;
  width: 50px auto;
  margin: 25px auto;
}

/* Media queries */
@media(max-width: 1200px) {
  .container {
    width: 700px;
  }
}

@media(max-width: 992px) {
  .container {
    width: 600px;
  }
}

@media(max-width: 768px) {
  .container {
    width: 500px;
  }
}

@media(max-width: 576px) {
  .container {
    width: 300px;
  }
}


a {
  text-decoration: none;
  color: rgba(100, 100, 100, 0.8);
  background-color: rgba(233, 253, 240, 1);
  font-weight: lighter;
  padding: 10px;
}

a:hover {
  background-color: #4bc6b9;
  color: white;
}
